/*

app-template.css overrides

remove this comment if used
remove this file if not

*/

.benchmark {
	padding: 30px;
}

.benchmark  header {
	text-align: center;
}
.benchmark button,
.benchmark input  {
	-webkit-appearance: initial;
	border: 1px solid black;
	padding: 10px;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}